.signup-container {
  text-align: center;
  margin-top: 100px;
}

.signup-container h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.signup-container form {
  display: grid;
  justify-content: center;
  gap: 10px;
}

.signup-container input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-container button {
  padding: 8px 16px;
  background-color: #004b91;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-container p {
  margin-top: 10px;
  color: green;
}
